:root{
  --color-neutral-100: #F9FBFA;
  --color-neutral-75: #ACBFB9;
  --color-neutral-50: #6C8079;
  --color-neutral-25: #3D4D47;
  --color-neutral-10: #051A13;
  --color-primary-10: #DCF5ED;
  --color-primary-100: #2AA87E;
  --color-aux-error-100: #CC3033;
  --color-aux-error-50: #EBC0C1;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
body{
  font-family: "Nunito", sans-serif;
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-10);
}
#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;  /*Getting main to occupy full screen*/
  margin-top: 4.375rem;  /* Top make room for Header to be fixed*/
}
a {
  text-decoration: none;
}


/* Font styles */

.display {
  font-family: "Alegreya", serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem; /* 118.182% */
}
.headline {
  font-family: "Alegreya", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.375rem; /* 118.75% */
}
.title {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 145.455% */
}
.body {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
.label {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 125% */
}

/* Button styles */

button {
  cursor: pointer;
}
.primary-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--color-primary-100);
  color: var(--color-neutral-100);
}
.secondary-button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary-100);
  border-radius: 0.5rem;
  background: none;
  color: var(--color-primary-100);
}

/* Navbar Items */

.navbar-item {
  color: var(--color-neutral-10); /* Keeping links from becoming purple*/
}
.active {
  color: var(--color-primary-100);
}

/* Header */

.header {
  position: fixed;
  width: 100vW;
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-neutral-100);
}
.header__logo {
  color: var(--color-primary-100);
  text-decoration: none;
}
.header__navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__navbar a{
  color: var(--color-neutral-10); /* Keeping links from becoming purple*/
}
.profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-link img{
  width: 1.5rem;
  height: 1.5rem;
}
.header__navbar .active {
  color: var(--color-primary-100);
}

/* Home Page */

.home__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__title{
  width: 42rem;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  color: var(--color-neutral-100);
  text-shadow: 0 0 4px var(--color-neutral-10);
}

.home__cta {
  width: 40rem;
  padding: 1rem 0.5rem;
  display: block;
  margin: 0 auto 3.5rem;
  color: var(--color-neutral-100);
  background-color: var(--color-primary-100);
  border-radius: 0.5rem;
  border: none;
}

/* Live Classes */

.live-classes {
  flex: 1;
  padding: 2.5rem;
}

.live-classes__title {
  margin-bottom: 1.5rem;
}

.live-classes__filters {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5.25rem;
}
.live-classes__level-filters {
  display: flex;
  gap: 1.5rem;
}
.level-filter-item {
  padding: 0.5rem 1rem;
  border-radius: 6.25rem;
  background-color: inherit;
  border: 1px solid var(--color-neutral-10);
}

.level-filter-clear {
  padding: 0.5rem 1rem;
  border: none;
  background-color: inherit;
}

.live-classes__display {
  display: grid;
  grid-template-columns: auto  auto;
  gap: 2rem;
}
.class-card {
  position: relative;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1.5rem;
  background-color: var(--color-primary-10);
}
.class-card__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.class-card__level {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-primary-100);
  background-color: var(--color-neutral-100);
  color: var(--color-primary-100);
}
.class-card__level > p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-card__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.class-card__body-start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.class-card__instructor-pic {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}
.class-card__time-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.class-card__date-time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}
.class-card__time-name .body {
  color: var(--color-neutral-25)
}

.class-card__body-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.class-card__group-size {
  display: flex;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--color-neutral-100);
  color: var(--color-neutral-25);
}

.class-card a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Live Class */

.live-class-main {
  flex: 1;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
}
.back-button:hover {
  text-decoration: underline;
}
.back-button::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(./assets/icon/arrow_left_alt.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.live-class__info {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.live-class__brief {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 2;
}
.live-class__generals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
.live-class__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
.live-class__level {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-primary-100);
  background: var(--color-neutral-100);
  color: var(--color-primary-100);
}
.live-class__title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.live-class__details {
  display: flex;
  padding: 0rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.live-class__details-start {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.live-class__date-time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.live-class__date-time .body {
  color: var(--color-neutral-25);
}
.live-class__group-size {
  display: flex;
  padding: 0rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--color-neutral-100);  
  color: var(--color-neutral-25);
}

.live-class__description {
  display: flex;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.live-class__instructor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.live-class__instructor-header {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border-radius: 1rem;
  background: var(--color-neutral-10);
  color: var(--color-neutral-100);
}
.live-class__instructor-pic {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-position: center;
  object-fit: cover;
}
.live-class__instructor-generals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.live-class__instructor-score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.live-class__instructor-body {
  display: flex;
  padding: 1.5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
.live-class__instructor-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

/* My Learning */

.my-learning__main {
  padding: 2.5rem;
}
.my-learning__title {
  margin-bottom: 1.5rem;
}
.my-learning__navbar {
  display: flex;
  gap: 2rem;
  margin-bottom: 3.25rem;
}

/* My Classes */

.previous-classes__title {
  margin-bottom: 2rem;
}

.previous-classes__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.class-card--previous {
  position: relative;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1.5rem;
  background: var(--color-primary-10);
}

.class-card--previous__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* align-self: stretch; */
}
.class-card--previous__level {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-primary-100);
  background: var(--color-neutral-100);
  color: var(--color-primary-100);
}
.class-card--previous__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.class-card--previous__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.class-card--previous__instructor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.class-card--previous__instructor-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}
.class-card--previous__instructor-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.class-card--previous a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Previous Class */

.previous-class__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.previous-class__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.previous-class__generals {
  display: flex;
  padding: 1rem 1.5rem;
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  background: var(--color-neutral-10);
  color: var(--color-neutral-100);
  align-self: stretch;
}
.previous-class__level {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--color-neutral-100);
  color: var(--color-neutral-10);
}

.previous-class__nav {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 2.5rem;
}


.previous-class-brief {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}
.class-brief__date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.class-brief__date-time div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.class-brief__time {
  color: var(--color-neutral-25);
}

.class-brief__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}


.previous-class-instructor {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.previous-class-instructor-start {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}
.previous-class-instructor-pic {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}
.previous-class-instructor-score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.previous-class__instructor-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

/* Review exercise */

.review {
  text-align: center;
}
.review__title { 
  margin-top: 5rem;
  color: var(--color-neutral-25);
}
.review__pic {
  display: block;
  width: 7.5rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  margin: 5rem auto 0;

}
.review__field {
 margin-top: 2.5rem;
 height: 2rem;
 border-radius: 0.5rem 0.5rem 0rem 0rem;
 border: 1px solid var(--color-primary-100);
 background: var(--color-primary-10);
 text-align: center;
}
.field-correct::placeholder {
  color: var(--color-primary-100);
}
.field-wrong {
  border: 1px solid var(--color-aux-error-100);
  background-color: var(--color-aux-error-50);
}
.field-wrong::placeholder {
  color: var(--color-aux-error-100);
}

.review__translation {
  margin-top: 1rem;
  color: var(--color-neutral-25);
}

.review__completed {
  margin-top: 8rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items:center;
}
.review__completed-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}
.review__completed-buttons button {
  width: 8rem;
}

/* Not Found page */

.not-found-main {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

/* Footer */

.footer {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--color-neutral-10);
  color: var(--color-neutral-100);
}