:root{
  --color-neutral-100: #F9FBFA;
  --color-neutral-75: #ACBFB9;
  --color-neutral-50: #6C8079;
  --color-neutral-25: #3D4D47;
  --color-neutral-10: #051A13;
  --color-primary-10: #DCF5ED;
  --color-primary-100: #2AA87E;
  --color-aux-error-100: #CC3033;
  --color-aux-error-50: #EBC0C1;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
body{
  font-family: "Nunito", sans-serif;
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-10);
}
#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}
main {
  margin-top: 4.375rem;  /* Top make room for Header to be fixed*/
}
a {
  text-decoration: none;
}


/* Font styles */

.display {
  font-family: "Alegreya", serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem; /* 118.182% */
}
.headline {
  font-family: "Alegreya", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.375rem; /* 118.75% */
}
.title {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 145.455% */
}
.body {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
.label {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 125% */
}

/* Button styles */

button {
  cursor: pointer;
}
.primary-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--color-primary-100);
  color: var(--color-neutral-100);
}
.secondary-button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary-100);
  border-radius: 0.5rem;
  background: none;
  color: var(--color-primary-100);
}

/* Header */

.header {
  position: fixed;
  width: 100vW;
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: var(--color-primary-100);
  text-decoration: none;
}
.header__navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__navbar a{
  color: var(--color-neutral-10); /* Keeping links from becoming purple*/
}
.profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-link img{
  width: 1.5rem;
  height: 1.5rem;
}
.header__navbar .active {
  color: var(--color-primary-100);
}

/* Home Page */

.home__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__title{
  width: 42rem;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  color: var(--color-neutral-100);
  text-shadow: 0 0 4px var(--color-neutral-10);
}

.home__cta {
  width: 40rem;
  padding: 1rem 0.5rem;
  display: block;
  margin: 0 auto 3.5rem;
  color: var(--color-neutral-100);
  background-color: var(--color-primary-100);
  border-radius: 0.5rem;
  border: none;
}

/* Review exercise */

.review {
  text-align: center;
}
.review__title { 
  margin-top: 5rem;
  color: var(--color-neutral-25);
}
.review__pic {
  display: block;
  width: 7.5rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  margin: 5rem auto 0;

}
.review__field {
 margin-top: 2.5rem;
 height: 2rem;
 border-radius: 0.5rem 0.5rem 0rem 0rem;
 border: 1px solid var(--color-primary-100);
 background: var(--color-primary-10);
 text-align: center;
}
.field-correct::placeholder {
  color: var(--color-primary-100);
}
.field-wrong {
  border: 1px solid var(--color-aux-error-100);
  background-color: var(--color-aux-error-50);
}
.field-wrong::placeholder {
  color: var(--color-aux-error-100);
}

.review__translation {
  margin-top: 1rem;
  color: var(--color-neutral-25);
}

.review__completed {
  margin-top: 8rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items:center;
}
.review__completed-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}
.review__completed-buttons button {
  width: 8rem;
}

/* Footer */

.footer {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--color-neutral-10);
  color: var(--color-neutral-100);
}